html,body{
    padding: 0;
    margin: 0;
    background-color: #f9f9f9;
    color:#333;
    flex: 1;
}
button,input{
    outline: none;
}

.text-left{
    text-align: left;
}

.text-right {
    text-align: right;
}
li,ul{
    list-style: none;
    padding:0; margin:0;
}

.hidden{ display: none; }