
.header-wrapper {
    /* position: fixed;
    left: 0;
    right: 0;
    top: 0;width: 100%;
    z-index: 2; */
    height:42px;
}
.header{
    position: fixed;
    min-width: 240px;
    background-color: #1ba9ba;
    color: #fff;
    font-size: 18px;
    text-align: center;
    padding: 0 15px;
    height: 42px;
    line-height: 42px;
    left:0;
    right: 0;
    z-index: 10;
    color:#fff;
}

.header-back {
    position: absolute;
    left: 0;
    width: 42px;
    height: 42px;
}
.header-title {
    max-width: 216px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    font-size: 100%;
    margin: 0;
    color: #fff;
}